@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
html, body{
	font-family: 'Montserrat', sans-serif;
/*	font-family: 'Roboto Mono', monospace;*/
	width: 100%;
	height: 100%;
	position: relative;
}
#panel-blog{
	background-color: #5207c2;
	background-image: linear-gradient(90deg, #5207c2, #8b07d5);
}
#panel-blog a{
	color: #FFF;
	font-weight: bold;
}
#pagin ul{
	display: inline;
}
#pagin li{
	list-style: none;
	display: block;
	float: left;
	padding: 10px;
}
#pagin a{

}
