html, body{
	font-family: 'Montserrat', sans-serif;
/*	font-family: 'Roboto Mono', monospace;*/
	width: 100%;
	height: 100%;
	position: relative;
}
#dash{
	width: 100%;
	height: 100%;
	min-height: 100%;
	/*background-color: rgba(10, 5, 50,.95);*/
	background-color: rgba(10, 5, 50,.95);
	position: relative;
}
#dash:before, #dash::before{
	position: absolute;
	content: '';
	background: url('https://www.dropbox.com/s/woun6ips1vao5i0/bg.jpg?dl=1') center no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
#dash-center{
	/*background-color: rgba(0,0,0,0.5);*/
	background-color: rgba(0,0,0,0.1);
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
#youtube{
	max-width: 400px;
	width: 100%;
	height: 350px;
	display: block;
	margin: auto;
	border: 1px solid #222;
}
#menu{
	max-width: 400px;
	width: 100%;
	margin: auto;
	display: block;
}
#product{
	position: relative;
}
#undangan-online, #paypal-payment-gateway, #instalasi-webserver{
	padding: 50px 0;
}
#paypal-payment-gateway{
	background-color: #091235;
}
#contact{
	background-color: #091235;
	color: #FFF;
}
#contact-legend{
	font-weight: bold;
	text-align: center;
	padding: 10px;
}
#contact-wa{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}
#to-wa{
	font-weight: bold;
	text-align: center;
	padding: 10px;
}
#footer{
	position: relative;
	text-align: center;
	padding: 10px;
	background-color: #000;
	color: #FFF;
}
.icon{
	font-size: 20px;
	display: block;
	float: left;
}
.spr-20{
	width: 100%;
	height: 20px;
}
.spr-100{
	width: 100%;
	height: 100px;
}
.star-5 i{
	color: #ffc816;
}
.img-center{
	display: block;
	margin: auto;
	border: none;
}
.big-font-size{
	font-size: 28px;
}
.c-t{
	text-align: center;
}
.t-w{
	color: #FFF;
}
.t-g{
	color: #EEE;
}
.my-label{
	padding: 5px 15px;
	font-size: 18px;
	display: inline-block;
	margin: 5px;
	border-radius: 5px;
}
.lbl-1{
	background-color: #1f12d6;
	color: #FFF;
}
.lbl-2{
	background-color: #15c31e;
	color: #FFF;
}
.lbl-3{
	background-color: #ecd510;
	color: #000;
}
.lbl-4{
	background-color: #ec3e10;
	color: #FFF;
}
.lbl-5{
	background-color: #ab10ec;
	color: #FFF;
}
.lbl-6{
	background-color: #ec8210;
	color: #FFF;
}
.lbl-7{
	background-color: #10ec91;
	color: #000;
}
@media screen and (max-width: 1280px){
	#dash{
		height: auto;
	}
	#dash-center{
		top: 0;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	.my-label{
		font-size: 16px;
		padding: 5px;
	}
	.big-font-size{
		font-size: 16px;
	}
}

.product{
	width: 100%;
	padding: 12px 0;
}
.product-detail{
	background-color: #FFF;
	width: 100%;
	padding: 10px;
	border: 1px solid #EFEFEF;
	box-shadow: 0 0 4px #DDDDDD;
}
.center-text{
	text-align: center;
}
img{
	border: 1px solid #AAA;
	border-radius: 3px;
}
.icon{
	font-size: 20px;
	display: block;
	float: left;
}
*{
	font-family: 'Montserrat', sans-serif;
}
